<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>MedicineDigitalTracker</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Loginadmin</display-name>
    <servlet-name>Loginadmin</servlet-name>
    <servlet-class>Digitaltracker.Loginadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Loginadmin</servlet-name>
    <url-pattern>/Loginadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Digitaltracker.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registermedical</display-name>
    <servlet-name>Registermedical</servlet-name>
    <servlet-class>Digitaltracker.Registermedical</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registermedical</servlet-name>
    <url-pattern>/Registermedical</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Medicallogin</display-name>
    <servlet-name>Medicallogin</servlet-name>
    <servlet-class>Digitaltracker.Medicallogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Medicallogin</servlet-name>
    <url-pattern>/Medicallogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Userlogin</display-name>
    <servlet-name>Userlogin</servlet-name>
    <servlet-class>Digitaltracker.Userlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Userlogin</servlet-name>
    <url-pattern>/Userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registeruser</display-name>
    <servlet-name>Registeruser</servlet-name>
    <servlet-class>Digitaltracker.Registeruser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeruser</servlet-name>
    <url-pattern>/Registeruser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addmedicine</display-name>
    <servlet-name>Addmedicine</servlet-name>
    <servlet-class>Digitaltracker.Addmedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addmedicine</servlet-name>
    <url-pattern>/Addmedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatemedicine</display-name>
    <servlet-name>Updatemedicine</servlet-name>
    <servlet-class>Digitaltracker.Updatemedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatemedicine</servlet-name>
    <url-pattern>/Updatemedicine</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateexpiry</display-name>
    <servlet-name>Updateexpiry</servlet-name>
    <servlet-class>Digitaltracker.Updateexpiry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateexpiry</servlet-name>
    <url-pattern>/Updateexpiry</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updateprice</display-name>
    <servlet-name>Updateprice</servlet-name>
    <servlet-class>Digitaltracker.Updateprice</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updateprice</servlet-name>
    <url-pattern>/Updateprice</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Searchmedicine</display-name>
    <servlet-name>Searchmedicine</servlet-name>
    <servlet-class>Digitaltracker.Searchmedicine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Searchmedicine</servlet-name>
    <url-pattern>/Searchmedicine</url-pattern>
  </servlet-mapping>
</web-app>